/* Main Styling */

body {
    font-family: helvetica, sans-serif;
}

header {
    background-color: #333;
    color: white;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

header h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 50px;
    text-align: center;
}

header h3 {
    margin-top: 0px;
    text-align: center;
}

/* TODO: make header/top margins responsive to hamburger menu */
main {
    margin-top: 185px;
    margin-bottom: 75px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* /Main Styling */

/*Nav Bar */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

nav li {
    display: inline;
}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*Make nav li a:hover do something */

/* /Nav Bar */

/* Classes */

.active {
    background-color: white;
    color: black;
    border: 3px solid #333;
}

.hidden {
    display: none;
}

.shown {
    display: inline-block;
}

.icon {
    display: block;
}

.center {
    text-align: center;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    width: 85%;
    margin: auto;
}

.wrapper-small {
    width: 70%;
    margin: auto;
}

.wrapper-xsmall {
    width: 55%;
    margin: auto;
}

.black {
    color: black;
}

.social p {
    margin-top: 2em;
}

.social a {
    text-decoration: none;
}

.social a:hover {
    text-decoration: underline;
}

.social a:visited {
    color: black;
}

/* /Classes */

/* Media Queries */

/* Styled for mobile screens by default */

/* TODO: add MQ for tablet screens */

/*Styling for laptop screens and up */
@media screen and (min-width: 1024px){
    .row {
        display: flex;
    }

    .col {
        flex: 50%;
    }
}

/* /Media Queries */