/* Main Styling */

body {
    font-family: helvetica, sans-serif;
}

header {
    background-color: #333;
    color: white;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

header h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 50px;
    text-align: center;
}

header h3 {
    margin-top: 0px;
    text-align: center;
}

main {
    margin-top: 200px;
    margin-bottom: 75px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* /Main Styling */

/*Nav Bar */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

nav li {
    display: inline;
}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* /Nav Bar */

/* Classes */

.active {
    background-color: white;
    color: black;
    border: 3px solid #333;
}

.hidden {
    display: none;
}

.shown {
    display: inline-block;
}

.icon {
    display: block;
}

.center {
    text-align: center;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    width: 85%;
    margin: auto;
}

.wrapper-small {
    width: 70%;
    margin: auto;
}

.wrapper-xsmall {
    width: 55%;
    margin: auto;
}

.black {
    color: black;
}

.social p {
    margin-top: 2em;
}

.social a {
    text-decoration: none;
}

.social a:visited {
    color: black;
}

.social a:hover {
    text-decoration: underline;
}

/* /Classes */

/* Media Queries */

/* Styled for mobile screens by default */

/* Styling for tablet screens and up */
@media screen and (min-width: 768px){
    
    /* Main Styling */

    main {
        margin-top: 225px;
    }

    header h1 {
        font-size: 2.5rem;
    }

    header h3 {
        font-size: 1.25rem;
    }

    /* /Main Styling */

    /* Classes */
    
    .wrapper-xsmall{
        width: 30%;
    }

    .icon {
        font-size: 1.5em;
    }

    /* /Classes */
}

/* TODO: make wrapper smaller on index/portfolio page for tablet screens and up */ 

/* Styling for laptop screens and up */
@media screen and (min-width: 1024px){
    
    /* Main Styling */

    header h1 {
        padding-top: 35px;
    }

    header h1,
    header h3, 
    nav {
        text-align: left;
        margin-left: 7.5%;
    }

    nav ul {
        display: inline-block;
        padding-bottom: 15px;
    }

    /* /Main Styling */

    /* Nav Bar */

    /* This rule is in media query so it does not conflict with the hamburger menu */
    nav li a:hover{
        border: 3px solid white;
    }
    /* TODO: Change :hover behavior so text does not move on hover */

    /* /Nav Bar */

    /* Classes */

    .row {
        display: flex;
    }

    .col {
        flex: 50%;
    }

    .icon {
        display: none;
    }

    .hidden {
        display: inline-block;
    }

    .wrapper-xsmall {
        width: 20%;
    }

    /* /Classes */
}

/* /Media Queries */